In [41]:
#to execute any line of code use shift+enter

// division returning an int

String Operations: Congatenating and utilizing methods

In [56]:
name = "Adriano"

new_name = name.upper() + " " + "Triches".upper()


print(new_name)

ADRIANO TRICHES

Index operatoins: 
"0:2" returns the index from 0 to 1 but excludes the number index 2. </br>When utilizing "::" it skips every other index

Exemple:

In [57]:
A='1934567'
A[1::2]

'946'

**"find()" method**

In [58]:
Name = "ABCDE"#Name.find("B") it returns the index for the givin caracter.
Name.find("B")

1

**"replace()" Method. "ABC".replace("AB", "ab")**

In [5]:
alphabet = "ABC"
alphabet.replace("AB", "ab")

'abC'

<h1>Tupples</h1>

In [17]:
tuple1 = ("adriano",2,3)

tuple1[0:2]

('adriano', 2)

In [59]:
type(tupple1)#type returns the data type of a variable.

tuple

In [19]:
tuple2 = tuple1 + ("apple","avacato") #Concatenating tuples

tuple2

('adriano', 2, 3, 'apple', 'avacato')

In [20]:
tuple2[0:3] #slicing it

('adriano', 2, 3)

In [21]:
len(tuple2)#getting the lenth of the concatenated tupple

5

Note: Tuples are immutable, you can't change the elements of the tupple, to manipulate a tuple you need to create a new tuple and assign a value.

<h1>Lists</h1>

In [46]:
#lists are mutable oredered sequences
#you can nest other lists just like tuples
#you can nest any data type in lists
List=["Adriano",2,3,["zebra","camel"],("triches",4,5)]
print(List)

['Adriano', 2, 3, ['zebra', 'camel'], ('triches', 4, 5)]

In [28]:
List[3]#index 3 is the list at index 3

['zebra', 'camel']

In [32]:
List[3][0]#you can access components inside of the nested list.

'zebra'

**"extend()" method**

In [47]:
List.extend(["New_Item_added"]) #by utilizing the method "extend()" we are able to manipulate the list and add a new item
print(List)

['Adriano', 2, 3, ['zebra', 'camel'], ('triches', 4, 5), 'New_Item_added']

**"append()" method**

In [49]:
List.append("Appended_Item1") #You can also use append() to only add one item to the list or multiple items 
#utilizing brackets like the above example.
print(List)

['Adriano', 2, 3, ['zebra', 'camel'], ('triches', 4, 5), 'New_Item_added', 'Appended_Item1', 'Appended_Item1']

**"del()" method**

In [51]:
del(List[0])#Deliting an item from the list utilizing the index
print(List)

[2, 3, ['zebra', 'camel'], ('triches', 4, 5), 'New_Item_added', 'Appended_Item1', 'Appended_Item1']

**"split()" method**

In [53]:
name = "Hard Rock".split()#splits a string into intems on a list
print(name)

['Hard', 'Rock']

In [54]:
abcs = "A,B,C,D".split(",") #spliting each caracter separated by a "," into a list item.
print(abcs)

['A', 'B', 'C', 'D']

**Copying a list**

In [55]:
List2 = List[:]
print(List2)

[2, 3, ['zebra', 'camel'], ('triches', 4, 5), 'New_Item_added', 'Appended_Item1', 'Appended_Item1']

<h1>Sets</h1>

In [61]:
#Sets are rappet in curly brackets like so: set = {"adriano"}
#Don't accept duplicate items

In [64]:
NewSet = {"Adriano","Apple","Apple"} #Sets don't accept duplicates, when creates the set only takes one of the items.

NewSet.add("Banana") #To append an item to a set we use the method "add()" the argument will be the new ite

print(NewSet)

{'Adriano', 'Apple', 'Banana'}

In [63]:
NewSet.remove("Adriano") #to remove an item we use the method remove()
NewSet

{'Apple', 'Banana'}

In [66]:
"Apple" in NewSet # check if an item is in the set, returns a boolian

True

In [72]:
#uniting 2 sets
Set1 = {1,2,3,4,5,6}
Set2 = {2,3,6}

Set3= Set1 & Set2 #it gets the exist in the Set1 and Set2 and we assinged into a new set called "Set3" Items that
#Don't existe in both sets will not be passed into the new set.
Set3

{2, 3, 6}

In [69]:
Set3.issubset(Set1) #check if the Set3 is a subset of the Set1 or Set2. Using the method issubset()

True

In [73]:
#method union(), returns a new set with all the items from both sets, but excludes the repited items.
Union_Set = Set1.union(Set2)

Union_Set

{1, 2, 3, 4, 5, 6}

<h1>Dictionaries</h1> similar to objetcs in javascript!

In [82]:
users = {
    "name": "Adriano", #remember to utilize comma.
    "last": "Triches",
    "age": [36,37,38], #The value pair can be lists
    "tuple": ("Mike", 22) #It can be tuples
}

users

{'name': 'Adriano',
 'last': 'Triches',
 'age': [36, 37, 38],
 'tuple': ('Mike', 22)}

In [83]:
users["tuple"]# Returns the value pair for the given key.

('Mike', 22)

In [86]:
#adding a new value to the dictionary
users["Country"]="Brazil" #remember the "=" goes after the new key value.
users

{'name': 'Adriano',
 'last': 'Triches',
 'age': [36, 37, 38],
 'tuple': ('Mike', 22),
 'Country': 'Brazil'}

In [88]:
#delete a key from the dictionary
del(users['last']) #it removes the key "last"
users

{'name': 'Adriano',
 'age': [36, 37, 38],
 'tuple': ('Mike', 22),
 'Country': 'Brazil'}

In [90]:
#check if a key is in the dictionary
'age' in users #returns True

True

In [101]:
users.values()# Returns all values os the dictionary

dict_values(['Adriano', [36, 37, 38], ('Mike', 22), 'Brazil'])

In [102]:
users.keys()# Returns all keys of a dictionary

dict_keys(['name', 'age', 'tuple', 'Country'])

<h1>Operants</h1>

In [103]:
# == compares if values are equal
# != Not equal

In [104]:
"Adriano" == "Mike"

False

In [107]:
"Adriano" != "Mike"

True

<h1>Statements: IF, ELIF, ELSE</h1>

In [111]:
#the test has 3 directions.
# Going straight as default, but if any of the criteria is met it can either left or right.

age = 19

if (age>18): 
    print("Go Right")
elif (age == 18):
    print('Go Left')
else:
    print("straight")

Go Right

<h1>Logic Operators</h1>

In [114]:
not(False) #Pythong boolians have the first letter cap. Different from Javascript where boolians have lowercase.

True

In [115]:
not(True)

False

In [124]:
# "OR" operator

age = 20

if (age == 19) or (age > 19): #this is an exemple, a better I could've used ">=" in this case
    print("Go Straight")
    
else:
    print("too young")

Go Straight

<h1> For Loop</h1>

In [149]:
squares = ["red","blue","yellow"]

for i in range(0,3): #range has to match the quantity of items in the list
    squares[i] = "white"
    
print(squares)

['white', 'white', 'white']

In [151]:
#ITERATE through a list or tuple
for square in squares:
    print(square)

white
white
white

<h1> While Loop</h1>

In [ ]:
squares = ["orange","orange","orange","red","blue"]

index = 0 #setting index to 0