In [41]:
#to execute any line of code use shift+enter

// division returning an int

String Operations: Congatenating and utilizing methods

In [2]:
name = "Adriano"

new_name = name.upper() + " " + "Triches".upper()


print(new_name)

ADRIANO TRICHES

Index operatoins: 
"0:2" returns the index from 0 to 1 but excludes the number index 2. </br>When utilizing "::" it skips every other index

Exemple:

In [3]:
A='1934567'
A[1::2]

'946'

**find() method. Ex: Consider the string Name="ABCDE", what is the result of the following operation Name.find("B") it returns the index for the givin caracter.**

In [4]:
Name = "ABCDE"
Name.find("B")

1

**replace() Method. "ABC".replace("AB", "ab")**

In [5]:
alphabet = "ABC"
alphabet.replace("AB", "ab")

'abC'

**Tupples**

In [17]:
tuple1 = ("adriano",2,3)

tuple1[0:2]

('adriano', 2)

In [18]:
type(tupple1)

tuple

In [19]:
tuple2 = tuple1 + ("apple","avacato") #Concatenating tuples

tuple2

('adriano', 2, 3, 'apple', 'avacato')

In [20]:
tuple2[0:3] #slicing it

('adriano', 2, 3)

In [21]:
len(tuple2)#getting the lenth of the concatenated tupple

5

Note: Tuples are immutable, you can't change the elements of the tupple, to manipulate a tuple you need to create a new tuple and assign a value.

**Lists**

In [46]:
#lists are mutable oredered sequences
#you can nest other lists just like tuples
#you can nest any data type in lists
List=["Adriano",2,3,["zebra","camel"],("triches",4,5)]
print(List)

['Adriano', 2, 3, ['zebra', 'camel'], ('triches', 4, 5)]

In [28]:
List[3]#index 3 is the list at index 3

['zebra', 'camel']

In [32]:
List[3][0]#you can access components inside of the nested list.

'zebra'

**"extend()" method**

In [47]:
List.extend(["New_Item_added"]) #by utilizing the method "extend()" we are able to manipulate the list and add a new item
print(List)

['Adriano', 2, 3, ['zebra', 'camel'], ('triches', 4, 5), 'New_Item_added']

**"append()" method**

In [49]:
List.append("Appended_Item1") #You can also use append() to only add one item to the list or multiple items 
#utilizing brackets like the above example.
print(List)

['Adriano', 2, 3, ['zebra', 'camel'], ('triches', 4, 5), 'New_Item_added', 'Appended_Item1', 'Appended_Item1']

**"del()" method**

In [51]:
del(List[0])#Deliting an item from the list utilizing the index
print(List)

[2, 3, ['zebra', 'camel'], ('triches', 4, 5), 'New_Item_added', 'Appended_Item1', 'Appended_Item1']

**"split()" method**

In [53]:
name = "Hard Rock".split()#splits a string into intems on a list
print(name)

['Hard', 'Rock']

In [54]:
abcs = "A,B,C,D".split(",") #spliting each caracter separated by a "," into a list item.
print(abcs)

['A', 'B', 'C', 'D']

**Copying a list**

In [55]:
List2 = List[:]
print(List2)

[2, 3, ['zebra', 'camel'], ('triches', 4, 5), 'New_Item_added', 'Appended_Item1', 'Appended_Item1']